[title] {
    color:red;
}

[title="About me"] {
    color:yellow;
}

[title~="Container"] {
    color: green;
}

[title*="tainer"] {
    background-color: lime;
}

[title^="More"] {
    color: violet;
}

[title$="skills"] {
    background-color: blue;
}

