.box {
    width: 150px;
    height: 150px;
    margin: 10px auto;
}

.box1 {
    transition: width 1s linear 400ms;
    background-color: red;
}
.box1:hover {
    transition: width 1s linear 0s;
    width: 300px;
}

.box2 {
    transition: height 1s linear 400ms;
    background-color: blue;
}
.box2:hover {
    transition: height 1s linear 0s;
    height: 300px;
}

.box3 {
    transition: width 1s linear 400ms, height 1s linear 400ms;
    background-color: green;
}
.box3:hover {
    transition: width 1s linear 0s, height 1s linear 0s;
    width: 300px;
    height: 300px;
}